.nav2{
    margin-left: 650px;
}

.navbar-brand{
    margin-left: 90px;
}
.navbar1{
    margin-top: 20px;
}
.soz1{
    text-align: center;
    margin-top: 20px;
}
.DIV1{
    
    height: 500px;
    margin-top: 40px;
}
.p{
    text-align: center;
}
.love{
    margin-left: 1000px;
    margin-top: 30px;


}
.yenidiv4{
    height: 400px;
    margin-top: 50px;
    background-color: gray;
}
.add{
    margin-left: 40px;
    margin-top: 40px;
}
.sub{
    margin-left: 20px;
}
.mail{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    margin-top: 10px;

}
.submit{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    margin-top: 10px;

}
.pctr{
    width: 500px;
    height: 500px;
}
#kontakt{
  margin-left: 350px;
  margin-top: 190px;
}
.kart{
    background-color: #F1F1F1;
    color: white;
    border: 0px;
    width: 350px;
    height: 70px;
}
.slam{
    width: 100px;
    height: 100px;
    
}